.headerUnique {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #ffffff; /* Color de fondo del header */
  border-bottom: 1px solid #e2e8f0; /* Línea inferior */
}

.logoUnique {
  flex: 1;
}

.logo-imageUnique {
  height: 40px; /* Ajusta el tamaño del logo */
}

.register-button-containerUnique {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.register-buttonUnique {
  background-color: #3182ce; /* Color de fondo del botón */
  color: #ffffff; /* Color del texto del botón */
  border: none;
  border-radius: 0.375rem; /* Bordes redondeados */
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s;
}

.register-buttonUnique:hover {
  background-color: #2b6cb0; /* Color de fondo del botón al pasar el mouse */
}

@media (max-width: 768px) {
  .headerUnique {
    padding: 1rem;
  }

  .logo-imageUnique {
    height: 30px; /* Ajusta el tamaño del logo en pantallas pequeñas */
  }

  .register-buttonUnique {
    font-size: 0.875rem; /* Ajusta el tamaño de la fuente en pantallas pequeñas */
    padding: 0.5rem;
  }
}