.index-container {
    padding: 20px;
    text-align: center;
    transition: margin-left 0.3s ease-in-out;
    /* Transición para el contenido principal */
    position: relative;
}

.menu-icon {
    font-size: 42px;
    cursor: pointer;
    position: absolute;
    top: 30px;
    left: 50px;
    /* Ajusta según tus necesidades */
    z-index: 1100;
    /* Asegúrate de que esté sobre otros elementos */
    transition: transform 0.3s ease-in-out;
    /* Transición para el ícono del menú */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-icon div {
    width: 30px;
    height: 3px;
    background-color: #000;
    margin: 5px 0;
    transition: transform 0.3s ease-in-out;
}

/* Transiciones para cuando el menú está abierto */
.menu-icon.open div:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
}

.menu-icon.open div:nth-child(2) {
    transform: translateY(-1px) rotate(-47deg);
}

.menu-icon.open div:nth-child(3) {
    transform: translateY(-15px) rotate(-47deg);
}

.side-menu {
    position: fixed;
    left: -290px;
    /* Comienza fuera de la pantalla */
    top: 0;
    bottom: 0;
    width: 250px;
    background-color: #333;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1000;
    /* Menú debajo del ícono */
    transition: left 0.3s ease-in-out;
    /* Añade la transición */
}

.side-menu.open {
    left: 0;
    /* Mueve el menú a la posición visible */
}

.side-menu-logo {
    height: 60px;
    width: auto;
    max-width: 200px;
    margin-bottom: 152px;
    filter: drop-shadow(0 0 6px rgba(255, 255, 255, 0.8));
    cursor: pointer;
}

.menu-button {
    width: 100%;
    padding: 10px;
    margin-bottom: 30px;
    background-color: transparent;
    color: #FFCD00;
    border: 2px solid #FFCD00;
    border-radius: 0.375rem;
    cursor: pointer;
    transition:
        background-color 0.2s,
        color 0.2s,
        border-color 0.2s;
    font-size: 16px;
}

.menu-button:hover {
    background-color: #FFCD00;
    color: #1F1F1F;
    /*ffffff*/
}

.cerrar-sesion {
    margin-top: auto;
    background-color: transparent;
    color: #ce3131;
    /*Color que tenia antes #ce3131 , #5E1111*/
    border: 2px solid #ce3131;
    border-radius: 0.375rem;
    cursor: pointer;
    transition:
        background-color 0.2s,
        color 0.2s,
        border-color 0.2s;
    font-size: 16px;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

.cerrar-sesion:hover {
    background-color: #ce3131;
    color: #ffffff;
}

/* animacion de desplazamiento del menu */

.index-container {
    padding: 20px;
    text-align: center;
    transition: margin-left 0.3s ease-in-out;
    /* Transición para el contenido principal */
}

.index-container.menu-open {
    margin-left: 250px;
    /* Desplaza el contenido cuando el menú está abierto */
}


.menu-icon.menu-open {
    left: 300px;
    /* Mueve el ícono cuando el menú está abierto */
}


.products-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; /* Asegura que el contenedor ocupe el ancho completo */
}

.products-container h2 {
    font-size: 35px;
    margin-bottom: 20px;
}

.products-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Crear columnas flexibles */
    gap: 20px; /* Espacio entre los elementos de la cuadrícula */
    max-width: 1200px; /* Limitar el ancho máximo de la cuadrícula */
    overflow-y: auto; /* Permitir desplazamiento vertical si el contenido excede el contenedor */
    max-height: calc(4 * 250px); /* Establecer una altura máxima para permitir solo 4 filas */
    width: 100%; /* Asegura que la cuadrícula ocupe el ancho completo disponible */
    justify-content: center; /* Centrar los elementos dentro de la cuadrícula */
}

.product-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    background-color: #fff; /* Asegurarse de que el fondo sea blanco */
}

.product-image {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
}

.product-name {
    margin: 10px 0;
}

.inhabilitar-button {
    background-color: transparent;
    color: #ce3131;
    border: 2px solid #ce3131;
    border-radius: 0.375rem;
    transition: background-color 0.2s;
    cursor: pointer;
    font-size: 0.875rem;
    font-weight: 500;
    border-radius: 0.375rem;
    padding: 0.5rem 0.75rem;
}

.inhabilitar-button:hover{
    background-color: #ce3131;
    color: #ffffff;
}


.habilitar-button {
    background-color: #4CAF50; /* Verde */
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.habilitar-button:hover {
    background-color: #45a049;
}