.mainWrapperUnique {
  background-color: #f9f9f9;
  color: #333;
  padding-bottom: 2rem;
}

.headerNimbusUnique {
  padding: 2rem;
}

.headerMainTitleUnique {
  font-size: 3.5rem;
  font-weight: 700;
  text-align: center;
}

.filterAreaUnique {
  margin-top: 2rem;
  display: flex;
  flex-direction: column; /* En pantallas grandes se ajusta con media queries */
  gap: 1rem;
}

.filterPromptUnique {
  font-size: 1.2rem;
  font-weight: 500;
}

.filterDropdownsUnique {
  display: flex;
  flex-wrap: wrap; /* Permite que los filtros salten a la siguiente línea si es necesario */
  gap: 1rem;
}

.filterDropdownUnique {
  height: 2.5rem;
  border-radius: 0.375rem;
  border: 2px solid #b8bbbe;
  background-color: #ffffff;
  padding: 0.5rem;
  font-size: 0.875rem;
  cursor: pointer;
  transition: background-color 0.2s;
  min-width: 150px; /* Tamaño mínimo de los dropdowns */
}

.clear-filters-button {
  padding: 0.5rem 1rem;
  border: 2px solid #3182ce;
  background-color: transparent;
  border-radius: 0.375rem;
  font-size: 0.875rem;
  cursor: pointer;
  color: #3182ce;
}

.clear-filters-button:hover {
  background-color: #3182ce;
  color: #ffffff;
}

/* RESPONSIVIDAD */
@media (max-width: 768px) {
  .filterAreaUnique {
    flex-direction: column;
    align-items: flex-start;
  }

  .filterDropdownsUnique {
    flex-direction: column; /* Los filtros se apilan verticalmente */
    width: 100%; /* Asegura que los filtros ocupen todo el ancho */
  }

  .filterDropdownUnique {
    width: 100%; /* Cada dropdown ocupa todo el ancho disponible */
    font-size: 0.8rem; /* Tamaño de fuente más pequeño */
  }

  .clear-filters-button {
    width: 100%; /* El botón de limpiar filtros también ocupa todo el ancho */
    margin-top: 1rem; /* Añade espacio superior para separar el botón */
  }
}

@media (max-width: 480px) {
  .filterDropdownUnique {
    height: 2rem; /* Dropdown más pequeño */
    font-size: 0.75rem; /* Fuente más pequeña en pantallas pequeñas */
  }

  .filterPromptUnique {
    font-size: 1rem; /* Ajuste del tamaño del texto para pantallas muy pequeñas */
  }
}

.itemShowcaseUnique {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 2rem;
  padding: 0 1rem;
  max-width: 1500px;
  margin: 0 auto;
}

.itemShowcaseUnique h2 {
  text-align: center;
  font-size: 25px;
  left: 505px;
  position: relative;
  margin-bottom: 75px;
}

.itemCardUnique {
  position: relative;
  background-color: white;
  margin: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, height 0.3s ease;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.itemCardUnique.expanded {
  transform: scale(1.05);
  z-index: 1;
}

.itemImageUnique {
  width: 95%;
  height: auto;
  margin: 10px 10px 0;
  /* object-fit: cover; */
  aspect-ratio: 16 / 9;
}

.itemDetailsUnique {
  padding: 1rem;
  flex-grow: 1;

}

.expandButtonUnique {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.1);
  border: none;
  padding: 10px;
  cursor: pointer;
}

.ingredientListUnique {
  list-style: disc inside;
  margin: 0;
  padding: 0.5rem 0;
}

.itemTitleUnique {
  font-size: 1.5rem;
  font-weight: 600;
}

.itemDescriptionUnique {
  font-size: 1rem;
  color: #333;
  line-height: 1.4;
}


.itemActionsUnique {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
}

.itemPriceUnique,
.purchaseButtonUnique {
  margin-top: 10px;
}

.purchaseButtonUnique {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  font-size: 0.875rem;
  font-weight: 500;
  background-color: transparent;
  /* Fondo transparente */
  color: #3182ce;
  /* Color del texto del botón #3182ce */
  border: 2px solid #3182ce;
  /* Borde visible con el color del texto */
  border-radius: 0.375rem;
  padding: 0.5rem 0.75rem;
  margin-bottom: 32px;
  transition: background-color 0.2s;
  cursor: pointer;
}

.purchaseButtonUnique:hover {
  background-color: #3182ce;
  color: #ffffff;
}



.outOfStock {
  color: red;
  font-weight: bold; /* Opcional, para hacer el texto más destacado */
}