.historialContainer {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
}

.orderItem {
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
}

.orderDate {
    background-color: #f0f0f0;
    padding: 10px;
}

.orderDate h3 {
    margin: 0;
    font-size: 1rem;
}

.orderDate hr {
    margin: 10px 0;
    border: none;
    border-top: 1px solid #ddd;
}

.orderContent {
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.orderImage {
    width: 120px;
    height: auto;
    flex: 0 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
}

.orderImage img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.orderInfo {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    min-width: 0;
}

.clientName {
    font-weight: bold;
    margin-bottom: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.viewMoreButtonHistorial {
    background-color: transparent;
    color: #3182ce;
    border: 2px solid #3182ce;
    border-radius: 0.375rem;
    padding: 8px 16px;
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s;
    font-size: 0.9em;
    width: auto;
    white-space: nowrap;
    margin-right: 50px;
}

.viewMoreButtonHistorial:hover {
    background-color: #3182ce;
    color: #ffffff;
}

@media (max-width: 480px) {
    .orderContent {
        flex-direction: column;
        align-items: flex-start;
    }

    .orderImage {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .orderInfo {
        width: 100%;
    }

    .viewMoreButtonHistorial {
        width: 100%;
        margin-top: 10px;
    }
}